.contact{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding-top: .5em;
    max-width: 100%;
    height: 80vh;

    &_address{
        display:flex;
        padding-left: .5rem;
        flex-direction: column;
        padding-top: .5em;
        padding-left: .5em;
        padding-bottom: 1rem;
        width:80%;
        font-size: 2rem;
        color: $clr-tipografia;
        font-family: $roboto;
        }
    }

.contact_banner{
        display:flex;
        flex-direction: column;
        margin-top: 1em;
        padding: 0 1em;
        width: 100%;
        font-size: 1rem;
        color: $clr-tipografia;
        font-family: $roboto;
    
}

.icon_social{
    display:flex;
    flex-direction: column;
    margin-top: 1em;
    margin-bottom: .5em;
    padding: 0 .5em;
    width: 100%;
    font-size: 1.8rem;
    font-family: $vietnam;
    font-weight: bolder;
}


.contact_date{
    display:flex;
    flex-direction: column;
    margin-top: .5em;
    padding: 0 1em;
    width: 100%;
    font-size: 1rem;
    font-family: $roboto;
    color: $clr-tipografia;
    margin-top: 1rem;


    h3{
        font-weight: bolder;
        padding-bottom: 0.05em;
    }

    spam{
        font-size: .9rem;
        color: $clr-tipografia;
    }

    a{
        font-weight: 500;
        padding-top: 0.2em;
        text-decoration: underline;
    }
}

@media (min-width:780px) {

    .contact{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    padding-top: .5em;
    max-width: 100%;
    height: 80vh;
    }

    .contact_address{
        font-size: 2.3rem;
        margin-top: .5em;
    }

    .contact_banner{
        font-size: 1.4rem;
    }
}

.contact_date{
    font-size: 1.2rem;
    margin-bottom: 1;

    spam{
        font-size: 1rem;
        color: $clr-tipografia;
    }
}

@media (min-width:1100px) {
.contact{
    max-width: 100%;
    height: 80%;
    justify-items: center; 

        &_address{
            flex-flow: row wrap;
            width:40%;
            margin: 4rem 2rem;
            font-size: 3rem;
    }
    .contact_banner{
        flex-flow: row wrap;
        margin: 4rem 2rem;
        max-width: 100%;
        width: 50%;
        font-size: 2rem;
    }
}

    .icon_social{
        align-items: flex-start;
        width: 300px;
        position: relative;
        left:2rem;
        top:-3rem;
        font-size: 3rem;
    }

    .hero{
        display: flex;
    }

    .cuestion{
        display: flex;
        flex-flow: column wrap;
        align-self: center;
        max-width: 80%;
        gap:20px;
        margin-bottom: 2rem;
    }

    .contact_date{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        width: 100vh;
        height: 180px;
        border:2px solid gray;
        border-radius: .2em;
        box-shadow: 5px gray;

        h3{
            font-weight: bolder;
            padding-bottom: 0.5em;
        }

        spam{
            font-size: 1.3rem;
            color: $clr-pie-pagina;
        }

        a{
            font-weight: 500;
            padding-top: 0.4em;
            text-decoration: underline;
            }
        }
    }
