.brand {
    font-family: $vietnam;
    font-size: 1rem;
    color: $clr-tipografia;
    list-style: none;
    text-decoration: none;
    transform:rotate(-5deg);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: $clr-fondo;
    padding: 2em;

    .nav_btn{
        fill: $clr-tipografia;
        display:block;
        width: 35px;
        display: block;
        cursor: pointer;

        &-close{
            float:right;
            margin: 2em 2em;
        }

        &-open{
        }
    }

    nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 55%;
        height: 100vh;
        background: white;
        z-index:1;
        display: none;

        &.nav-open {
            display: block;
        }
        .menu{
            display:flex;
            flex-flow: column nowrap;
            gap: 2em;
            margin-top: 15em;
            margin-left: 2em;

            li{
                color: $clr-tipografia;
                font-size: 3vh;
                text-decoration: none;
                opacity: 0.9;
                letter-spacing: 0.05em;

                &.active{
                    font-weight: 600;
                    opacity: 1;
                    

                }

                &:hover {

                    text-decoration: 1px underline $clr-inicio-pagina;
                    text-underline-offset: 5px;
                }
            }
        }
    }

    @media (min-width: 750px) {
        .brand {
            font-size: .9rem;
        }

            .nav_btn {
                display:none;
            }

            nav{
                all: unset;

            .menu{
                display: flex;
                flex-flow: row nowrap;
                margin: unset;
                gap: 1em;

                li{
                    color: $clr-tipografia;
                    font-size: 2vh;
                    text-decoration: none;
                    opacity: 0.9;
                    letter-spacing: 0.04em;
                }           
            }
        }
    }
    @media (min-width: 1080px) {
        .brand {
            font-size: 1rem;
        }
    
            .nav_btn {
                display:none;
            }
    
            nav{
                all: unset;
    
            .menu{
                display: flex;
                flex-flow: row nowrap;
                margin: unset;
                gap: 1em;
    
                li{
                    font-size: 3vh;
                }
            }
        }
    }
}
