.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 3em 5%;
    align-content: center;
}

section{
    background:$clr-fondo;
}

.ph{
    width: 100%;
    max-width: 350px;
    box-shadow: grey 0px 4px 12px;
    flex-direction: column;
    
    &_img{
        img{
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }}


    &_text{
    flex:1;
    padding: .5em .5em;
    padding-bottom: 2em;
    font-family: $vietnam;
    font-size: 1rem;

    
        span{
            font-size:.75em;
            font-family: $roboto;     
        }
        h3{
            margin-top: .25em;
            font-size: 1.2em;
        }
        p{
            font-size: .9em;
        }
    }
}


.btn{
    display:flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    

}

.button {
    background: rgb(121, 122, 119);
    color: white;
    display: inline-block;
    justify-items: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    width: 200px;
    height: auto;
}


@media (min-width: 750px) {
    .wrapper{
        display: flex;
        gap:20px;
        flex-flow: row wrap;
        justify-content: center;
        max-width: 1250px;
        margin: 0 auto;
    }
    .ph{
        max-width: unset;
        width: 500px;
            
        &_lg{
            .ph_text{
                height: 200px;
            }
        }

        &_img{
            font-size: 1.5rem;
        }

    }
}


@media (min-width: 1780px) {
    .wrapper{
        max-width: 2000px;
        gap:40px;
    }

    .ph{
        &_sqr{
            order:0;
        }
    }
}