@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"), url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// tipografia
$vietnam: 'Be Vietnam', sans-serif;
$roboto: 'Roboto', sans-serif;



// colores
$clr-pastel:rgb(202, 174, 118);
$clr-inicio-pagina:rgb(233, 226, 213);
$clr-pie-pagina:rgb(119, 119, 119);
$clr-fondo-footer:rgb(0, 0, 0);
$clr-btn:rgba(221, 213, 198, 0);
$clr-tipografia:#222121b6;
$clr-fondo: rgba(219, 219, 219, 0.274);
